*, *::after, *::before {
    margin:0;
    padding:0;
}
body {
    color: #171512;
    background: #FFFBED;
    font-family:sans-serif;
}
.page-wrap {
    padding: 0% 4%;
    margin: 3% auto 0%;
    max-width: 606px;
}
.catalog-heading {
    margin: 0% 0% 2%;
}
.info {
    font-style:italic;
    font-weight:300;
}
#catalog {
}
.course-div {
    margin: 0% 0% 2%;
}
.course-name {
    margin: 0% 0% 1%;
}
.course-id {
    text-transform:uppercase;
}
.course-description {

}
.course-units {
    
}